@page "/Website/AboutTocoma"
@layout WebsiteAdminLayout
@inject HttpClient Http
@inject IToastService toastService
@inject IWebHostEnvironment env
@using Blazored.Typeahead
@using System.IO
@using System.Net.Http.Headers;


<div class="card text-left" style="height:auto">
    <div class="card-header">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button style="background-color:@_localcolor" @onclick="Local_Tab_Click" class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="false">ABOUT TOCOMA</button>
            <button style="background-color:@_intcolor" class="nav-link" id="nav-profile-tab" @onclick="Int_Tab_Click" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">MISSION/VISION</button>
            <button style="background-color:@_histcolor" class="nav-link" id="nav-profile-tab" @onclick="History_Tab_Click" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">HISTORY</button>
        </div>
    </div>
    <div class="card-body">
        <EditForm Model="@aboutTocoma" style="margin-left:10px;margin-right:10px">

            @if (IL_OPTION == 1)
            {
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Baner Title</label>
                    <div class="col-sm-10">
                        <InputText @bind-Value="@aboutTocoma.BANNER_TITLE" type="text" class="form-control" placeholder="project name" />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Baner Image</label>
                    <div class="col-sm-10">
                        <InputFile OnChange="@SelectItemImage" multiple />
                        @foreach (var itmImage in itemimageUrls)
                        {
                            <img src="@itmImage" />
                        }
                        @*<img src="@aboutTocoma.BANNER_IMAGE_LINK" style="width:100%;height:300px" />*@
                    </div>
                </div>
                <!---------------->
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">About Tocoma</label>
                    <div class="col-sm-10">
                        <BlazoredTextEditor @ref="@shortDescription">
                            <ToolbarContent>
                                <select class="ql-header">
                                    <option selected=""></option>
                                    <option value="1"></option>
                                    <option value="2"></option>
                                    <option value="3"></option>
                                    <option value="4"></option>
                                    <option value="5"></option>
                                </select>
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-color"></select>
                                    <select class="ql-background"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-list" value="ordered"></button>
                                    <button class="ql-list" value="bullet"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-link"></button>
                                </span>
                            </ToolbarContent>
                            <EditorContent>
                            </EditorContent>
                        </BlazoredTextEditor>
                    </div>
                </div>
                <br />
                <br />
                <hr />

                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Video</label>
                    <div class="col-sm-10">
                        <InputFile multiple />
                        @*@foreach (var appVideo in imageUrls)
                    {
                        <img src="@appVideo" />
                    }*@
                    </div>
                </div>
            }
            @if (IL_OPTION == 2)
            {
                <h4>Our Mission/Vission Details...</h4>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <InputText @bind-Value="@visionMission.NAME" type="text" class="form-control" placeholder="project name" />
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Vision/Mission Description</label>
                    <div class="col-sm-10">
                        <BlazoredTextEditor @ref="@missionvissionDescription">
                            <ToolbarContent>
                                <select class="ql-header">
                                    <option selected=""></option>
                                    <option value="1"></option>
                                    <option value="2"></option>
                                    <option value="3"></option>
                                    <option value="4"></option>
                                    <option value="5"></option>
                                </select>
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-color"></select>
                                    <select class="ql-background"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-list" value="ordered"></button>
                                    <button class="ql-list" value="bullet"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-link"></button>
                                </span>
                            </ToolbarContent>
                            <EditorContent>
                            </EditorContent>
                        </BlazoredTextEditor>
                    </div>
                </div>
                <br />
                <br />


                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Vision Mission Image</label>
                    <div class="col-sm-10">
                        <InputFile OnChange="@SelectVisionMissionImage" multiple />
                        @foreach (var itmImage in visionMissionimageUrls)
                        {
                            <img src="@itmImage" />
                        }

                        @*<img src="@visionMission.V" style="width:100%;height:300px" />*@
                    </div>
                </div>
                <br />
                <br />

                <table width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <br />
                <br />

            }

            @if (IL_OPTION == 3)
            {
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Year-Month</label>
                    <div class="col-sm-10">
                        <InputText @bind-Value="@tocomahistory.YEAR" type="text" class="form-control" placeholder="project name" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">History Title</label>
                    <div class="col-sm-10">
                        <InputText @bind-Value="@tocomahistory.TITLE" type="text" class="form-control" placeholder="project name" />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">History Image</label>
                    <div class="col-sm-10">
                        <InputFile OnChange="@SelectHistoryImage" multiple />
                        @foreach (var itmImage in historyimageUrls)
                        {
                            <img src="@itmImage" />
                        }
                        @*<img src="@tocomahistory.IMAGE_LINK" style="width:100%;height:300px" />*@
                    </div>
                </div>
                <!---------------->
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">History</label>
                    <div class="col-sm-10">
                        <BlazoredTextEditor @ref="@historyDescription">
                            <ToolbarContent>
                                <select class="ql-header">
                                    <option selected=""></option>
                                    <option value="1"></option>
                                    <option value="2"></option>
                                    <option value="3"></option>
                                    <option value="4"></option>
                                    <option value="5"></option>
                                </select>
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-color"></select>
                                    <select class="ql-background"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-list" value="ordered"></button>
                                    <button class="ql-list" value="bullet"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-link"></button>
                                </span>
                            </ToolbarContent>
                            <EditorContent>
                            </EditorContent>
                        </BlazoredTextEditor>
                    </div>
                </div>
                <br />
                <br />

            }
        </EditForm>
    </div>
    <div class="card-footer text-muted fixed-bottom" style="background-color: lightgray;text-align:center">
        <button class="btn btn-danger" style="margin-right:20px;width:100px">Cancel</button>
        <button class="btn btn-success" style="width:100px" @onclick="SaveProduct">Save</button>
    </div>
</div>

@code {
    clsAboutTocoma aboutTocoma = new clsAboutTocoma();
    clsTocomaVisionMission visionMission = new clsTocomaVisionMission();
    clsTocomaHistory tocomahistory = new clsTocomaHistory();
    string _localcolor;
    string _intcolor;
    string _histcolor;
    int IL_OPTION;
    //-----
    BlazoredTextEditor shortDescription;
    BlazoredTextEditor missionvissionDescription;
    BlazoredTextEditor historyDescription;
    string itemname = "";
    List<string> itemimageUrls = new List<string>();
    List<string> visionMissionimageUrls = new List<string>();
    List<string> historyimageUrls = new List<string>();
    List<string> itemtdsUrls = new List<string>();
    List<string> itemimage = new List<string>();
    List<string> itemTDS = new List<string>();
    List<string> itemSDS = new List<string>();
    List<string> itemFlyer = new List<string>();
    List<string> itemCertificate = new List<string>();
    List<string> ApplicationimageUrls = new List<string>();
    List<ItemEntity> productList = new List<ItemEntity>();
    List<ItemCategory> categoryList = new List<ItemCategory>();
    IReadOnlyList<IBrowserFile> selectedFiles;
    IReadOnlyList<IBrowserFile> selectedItemImage;
    IReadOnlyList<IBrowserFile> selectedvisionMissionImage;
    IReadOnlyList<IBrowserFile> selectedhistoryImage;
    IReadOnlyList<IBrowserFile> selectedTDS;
    IReadOnlyList<IBrowserFile> selectedSDS;
    IReadOnlyList<IBrowserFile> selectedFlayer;
    IReadOnlyList<IBrowserFile> selectedCertificate;
    ItemEntity item = new ItemEntity();
    ItemEntity relatedItem = new ItemEntity();

    List<ItemEntity> itemList = new List<ItemEntity>();
    List<CountryModel> CountryList = new List<CountryModel>();
    List<UnitModel> unitList = new List<UnitModel>();
    List<BrandModel> brandList = new List<BrandModel>();
    List<ColorModel> colorList = new List<ColorModel>();
    List<ItemApplicationAreaModel> itemApplicationList = new List<ItemApplicationAreaModel>();
    ItemApplicationAreaModel relatedApp = new ItemApplicationAreaModel();
    List<ItemApplicationAreaModel> SelectedRelatedApplicationList = new List<ItemApplicationAreaModel>();
    List<ItemEntity> relatedItemList = new List<ItemEntity>();
    List<ItemSewstivenessModel> itemSewstiveness = new List<ItemSewstivenessModel>();
    List<ItemForm_Appearance> itemForm_Appearances = new List<ItemForm_Appearance>();
    List<ImageFile> filesBase64 = new List<ImageFile>();
    string categoryName;
    string code;
    string path_withfile = "";
    string saveimageurl = "";
    string missionvisionimageurl = "";
    string historyimageurl = "";

    private List<IBrowserFile> loadedFiles = new();
    private long maxFileSize = 1024 * 5000;
    private int maxAllowedFiles = 3;
    private bool isLoading;
    // ImageFile.cs


    Stream fileStream = null;
    ElementReference elementReference;
    string fileName = string.Empty;
    string size = string.Empty;
    string type = string.Empty;

    public class ImageFile
    {
        public string base64data { get; set; }
        public string contentType { get; set; }
        public string fileName { get; set; }
    }
    protected override async Task OnInitializedAsync()
    {
        Local_Tab_Click();
        await GetItemCategory();
        await GetItemList();
        await GetUnit();
        await GetCountry();
        await GetBrand();
        await GetColor();
        await GetAreaOfApplication();
        await GetItemSewstiveness();
        await GetItemForm_Appearance();
        aboutTocoma = await Http.GetJsonAsync<clsAboutTocoma>(Utility.BaseUrl + "api/AboutTocoma");
        await this.shortDescription.LoadHTMLContent(aboutTocoma.DESCRIPTION);
        itemimageUrls.Add(aboutTocoma.BANNER_IMAGE_LINK);


    }
    private async void Local_Tab_Click()
    {
        _localcolor = "transparent;color:black;border:2px groove blue";
        _intcolor = "transparent;color:black";
        _histcolor = "transparent;color:black";
        IL_OPTION = 1;

    }
    private async void Int_Tab_Click()
    {
        _localcolor = "transparent;color:black";
        _histcolor = "transparent;color:black";
        _intcolor = "transparent;color:black;border:2px groove blue";
        IL_OPTION = 2;

    }
    private async void History_Tab_Click()
    {
        _localcolor = "transparent;color:black";
        _intcolor = "transparent;color:black";
        _histcolor = "transparent;color:black;border:2px groove blue";
        IL_OPTION = 3;

    }
    private async Task GetItemForm_Appearance()
    {
        itemForm_Appearances = await Http.GetJsonAsync<List<ItemForm_Appearance>>(Utility.BaseUrl + "api/Setup/GetItemForm_Appearance");
    }
    private async Task GetItemSewstiveness()
    {
        itemSewstiveness = await Http.GetJsonAsync<List<ItemSewstivenessModel>>(Utility.BaseUrl + "api/Setup/GetItemSewstiveness");
    }
    private async Task GetItemCategory()
    {
        categoryList = await Http.GetJsonAsync<List<ItemCategory>>(Utility.BaseUrl + "api/Setup/GetItemCategory");
    }
    private async Task GetUnit()
    {
        unitList = await Http.GetJsonAsync<List<UnitModel>>(Utility.BaseUrl + "api/Setup/GetUnit");
    }
    private async Task GetColor()
    {
        colorList = await Http.GetJsonAsync<List<ColorModel>>(Utility.BaseUrl + "api/Setup/GetColorList");
    }
    private async Task GetCountry()
    {
        CountryList = await Http.GetJsonAsync<List<CountryModel>>(Utility.BaseUrl + "api/Setup/GetCountry");
    }
    private async Task GetBrand()
    {
        brandList = await Http.GetJsonAsync<List<BrandModel>>(Utility.BaseUrl + "api/Setup/GetBrandList");
    }
    private async Task GetItemList()
    {
        productList = await Http.GetJsonAsync<List<ItemEntity>>(Utility.BaseUrl + "api/Product");
    }
    private async Task GetAreaOfApplication()
    {
        itemApplicationList = await Http.GetJsonAsync<List<ItemApplicationAreaModel>>(Utility.BaseUrl + "api/Setup/GetItemApplicationArea");
    }
    private async Task SelectItemImage1111(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();
        this.StateHasChanged();
        foreach (var file in selectedFiles)
        {
            //Stream stream = file.OpenReadStream();
            //var path = $"{env.WebRootPath}\\images\\File\\TDS\\{file.Name}";
            //FileStream fs = File.Create(path);
            //await stream.CopyToAsync(fs);
            //stream.Close();
            //fs.Close();
            itemimage.Add(file.Name);
            //itemTDS.Add(path);
            selectedItemImage = selectedFiles;
            selectedFiles = null;
        }
        this.StateHasChanged();


    }
    private async Task SelectItemImage(InputFileChangeEventArgs e)
    {
        selectedItemImage = null;
        selectedItemImage = e.GetMultipleFiles();

        foreach (var imageFile in selectedItemImage)
        {
            itemimageUrls = new List<string>();
            //var resizedImage = await imageFile.RequestImageFileAsync("image/jpg", 100, 100);
            var resizedImage = await imageFile.RequestImageFileAsync(imageFile.ContentType, 10000, 10000);
            var buffer = new byte[resizedImage.Size];
            await resizedImage.OpenReadStream().ReadAsync(buffer);
            //var imgData = $"data:image/jpg;base64,{Convert.ToBase64String(buffer)}";
            var imgData = $"data:image/jpg;base64,{Convert.ToBase64String(buffer)}";
            itemimageUrls.Add(imgData);

            //

            //string base64String = "";
            //await using MemoryStream fs = new MemoryStream();
            //await imageFile.OpenReadStream(maxAllowedSize: 104857645125).CopyToAsync(fs);
            //byte[] somBytes = GetBytes(fs);
            //base64String = Convert.ToBase64String(somBytes, 0, somBytes.Length);
            //System.Diagnostics.Debug.Print("Imatge 64: " + base64String + Environment.NewLine);
            //itemimageUrls.Add(base64String);
        }

        this.StateHasChanged();
    }
    //--
    private async Task SelectVisionMissionImage(InputFileChangeEventArgs e)
    {
        selectedvisionMissionImage = e.GetMultipleFiles();

        foreach (var imageFile in selectedvisionMissionImage)
        {
            //var resizedImage = await imageFile.RequestImageFileAsync("image/jpg", 100, 100);
            var resizedImage = await imageFile.RequestImageFileAsync(imageFile.ContentType, 10000, 10000);
            var buffer = new byte[resizedImage.Size];
            await resizedImage.OpenReadStream().ReadAsync(buffer);
            //var imgData = $"data:image/jpg;base64,{Convert.ToBase64String(buffer)}";
            var imgData = $"data:image/jpg;base64,{Convert.ToBase64String(buffer)}";
            visionMissionimageUrls.Add(imgData);

            //

            //string base64String = "";
            //await using MemoryStream fs = new MemoryStream();
            //await imageFile.OpenReadStream(maxAllowedSize: 104857645125).CopyToAsync(fs);
            //byte[] somBytes = GetBytes(fs);
            //base64String = Convert.ToBase64String(somBytes, 0, somBytes.Length);
            //System.Diagnostics.Debug.Print("Imatge 64: " + base64String + Environment.NewLine);
            //itemimageUrls.Add(base64String);
        }

        this.StateHasChanged();
    }
    private async Task SelectHistoryImage(InputFileChangeEventArgs e)
    {
        selectedhistoryImage = e.GetMultipleFiles();

        foreach (var imageFile in selectedhistoryImage)
        {
            //var resizedImage = await imageFile.RequestImageFileAsync("image/jpg", 100, 100);
            var resizedImage = await imageFile.RequestImageFileAsync(imageFile.ContentType, 10000, 10000);
            var buffer = new byte[resizedImage.Size];
            await resizedImage.OpenReadStream().ReadAsync(buffer);
            //var imgData = $"data:image/jpg;base64,{Convert.ToBase64String(buffer)}";
            var imgData = $"data:image/jpg;base64,{Convert.ToBase64String(buffer)}";
            historyimageUrls.Add(imgData);

            //

            //string base64String = "";
            //await using MemoryStream fs = new MemoryStream();
            //await imageFile.OpenReadStream(maxAllowedSize: 104857645125).CopyToAsync(fs);
            //byte[] somBytes = GetBytes(fs);
            //base64String = Convert.ToBase64String(somBytes, 0, somBytes.Length);
            //System.Diagnostics.Debug.Print("Imatge 64: " + base64String + Environment.NewLine);
            //itemimageUrls.Add(base64String);
        }

        this.StateHasChanged();
    }
    async Task SelectItemImage111(InputFileChangeEventArgs e)
    {
        var files = e.GetMultipleFiles(); // get the files selected by the users
        foreach (var file in files)
        {
            var resizedFile = await file.RequestImageFileAsync(file.ContentType, 640, 480); // resize the image file
            var buf = new byte[resizedFile.Size]; // allocate a buffer to fill with the file's data
            using (var stream = resizedFile.OpenReadStream())
            {
                await stream.ReadAsync(buf); // copy the stream to the buffer
            }
            //itemimageUrls.Add(new ImageFile { base64data = Convert.ToBase64String(buf), contentType = file.ContentType, fileName = file.Name });
            filesBase64.Add(new ImageFile { base64data = Convert.ToBase64String(buf), contentType = file.ContentType, fileName = file.Name }); // convert to a base64 string!!
                                                                                                                                               //itemimageUrls.Add(filesBase64);
            itemimageUrls.Add(Convert.ToBase64String(buf));
            selectedItemImage = files;
        }
        //message = "Click UPLOAD to continue";
    }



    private async Task SelectApplicationImage(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();

        foreach (var imageFile in selectedFiles)
        {
            var resizedImage = await imageFile.RequestImageFileAsync("image/jpg", 100, 100);
            var buffer = new byte[resizedImage.Size];
            await resizedImage.OpenReadStream().ReadAsync(buffer);
            var imgData = $"data:image/jpg;base64,{Convert.ToBase64String(buffer)}";
            ApplicationimageUrls.Add(imgData);

        }
        this.StateHasChanged();
    }
    public static byte[] GetBytes(Stream stream)
    {
        var bytes = new byte[stream.Length];
        stream.Seek(0, SeekOrigin.Begin);
        stream.ReadAsync(bytes, 0, bytes.Length);
        stream.Dispose();
        return bytes;
    }
    public async Task SaveProduct()
    {
        if (IsValidation() != true)
        {
            try
            {

                if (selectedItemImage != null)
                {
                    foreach (var file in selectedItemImage)
                    {
                        string p = "";
                        path_withfile = $"{env.WebRootPath}\\images\\AboutTocoma\\{file.Name}";
                        p = env.WebRootPath;
                        saveimageurl = path_withfile.Replace(p, "");
                        var path2 = $"{env.WebRootPath}\\images\\AboutTocoma\\{file.Name}";
                        await using FileStream fs = new(path2, FileMode.Create);
                        await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
                        fs.Close();

                    }
                }
                //----
                if (selectedvisionMissionImage != null)
                {
                    foreach (var file in selectedvisionMissionImage)
                    {

                        string p = "";
                        path_withfile = $"{env.WebRootPath}\\images\\AboutTocoma\\{file.Name}";
                        p = env.WebRootPath;
                        saveimageurl = path_withfile.Replace(p, "");

                        var path2 = $"{env.WebRootPath}\\images\\AboutTocoma\\{file.Name}";
                        await using FileStream fs = new(path2, FileMode.Create);
                        await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
                        fs.Close();
                    }
                }
                //--
                if (selectedhistoryImage != null)
                {
                    foreach (var file in selectedhistoryImage)
                    {

                        string p = "";
                        path_withfile = $"{env.WebRootPath}\\images\\AboutTocoma\\{file.Name}";
                        p = env.WebRootPath;
                        historyimageurl = path_withfile.Replace(p, "");

                        var path2 = $"{env.WebRootPath}\\images\\AboutTocoma\\{file.Name}";
                        await using FileStream fs = new(path2, FileMode.Create);
                        await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
                        fs.Close();
                    }
                }



                if (IL_OPTION==1)
                {
                    aboutTocoma.BANNER_IMAGE_LINK = saveimageurl;
                    aboutTocoma.OPERATION_TYPE = "1";
                    if (shortDescription != null)
                    {
                        aboutTocoma.DESCRIPTION = await this.shortDescription.GetHTML();
                    }
                    var data = await Http.PostJsonAsync<clsAboutTocoma>(Utility.BaseUrl + "api/AboutTocoma", aboutTocoma);
                }
                if(IL_OPTION == 2)
                {
                    if (missionvissionDescription != null)
                    {
                        visionMission.DESCRIPTION = await this.missionvissionDescription.GetHTML();
                    }
                    visionMission.OPERATION_TYPE = "1";
                    visionMission.IMAGE_LINK = saveimageurl;
                    var visionmission = await Http.PostJsonAsync<clsTocomaVisionMission>(Utility.BaseUrl + "api/AboutTocoma/AddVisionMission", visionMission);
                }
                if (IL_OPTION ==3)
                {
                    if (historyDescription != null)
                    {
                        tocomahistory.DESCRIPTION = await this.historyDescription.GetHTML();
                    }
                    tocomahistory.OPERATION_TYPE = "1";
                    tocomahistory.IMAGE_LINK= historyimageurl;
                    var visionmission = await Http.PostJsonAsync<clsTocomaHistory>(Utility.BaseUrl + "api/AboutTocoma/AddTocomaHistory", tocomahistory);
                }



                toastService.ShowSuccess("Save Successfully!!!");

            }
            catch (Exception ex)
            {
                toastService.ShowError(ex.Message);
            }
            //}

            //await GetItemList();


        }
    }

    //async Task OpenFileAsync()
    //{
    //    var file = (await fileReader.CreateReference(elementReference).EnumerateFilesAsync()).FirstOrDefault();
    //    foreach (var file in selectedItemImage)
    //    {
    //        if (file == null) return;
    //        var fileInfo = await file.ReadFileInfoAsync();
    //        fileName = fileInfo.Name;
    //        size = $"{fileInfo.Size}b";
    //        type = fileInfo.Type;

    //        using (var memoryStream = await file.CreateMemoryStreamAsync((int)fileInfo.Size))
    //        {
    //            fileStream = new MemoryStream(memoryStream.ToArray());
    //        }
    //    }



    //}

    async Task Upload1()
    {
        //var url = "http://localhost/api/v1/yourendpointhere";
        var filePath = @"C:\inetpub\wwwroot\tocoma_erp_system\wwwroot\images\Products\0042_WhatsApp Image 2022-07-03 at 10.20.37 AM.jpeg";
        var url = "http://demo.tocoma.co/webroot/Content/images/aboutus";
        foreach (var file in selectedItemImage)
        {
            //string path = Path.Combine(file.Name);
            //var filePath = Path.Combine(file.Name);
            //var filePath = Path.GetFullPath("wwwroot\\Images\\") + file.FileInfo.Name;
            //var filePath = $"{env.WebRootPath}\\{file.Name}";
            HttpClient httpClient = new HttpClient();
            MultipartFormDataContent form = new MultipartFormDataContent();

            FileStream fs = File.OpenRead(filePath);
            var streamContent = new StreamContent(fs);

            var imageContent = new ByteArrayContent(streamContent.ReadAsByteArrayAsync().Result);
            imageContent.Headers.ContentType = MediaTypeHeaderValue.Parse("multipart/form-data");

            form.Add(imageContent, "image", Path.GetFileName(filePath));
            var response = httpClient.PostAsync(url, form).Result;


            var content = new MultipartFormDataContent();

            form.Headers.ContentDisposition = new System.Net.Http.Headers.ContentDispositionHeaderValue("form-data");
            form.Add(new StreamContent(fileStream, (int)fileStream.Length), "image", file.Name);
            //var response = await Http.PostAsync($"{url}/Partners/SaveImage", content);
            var response1 = await Http.PostAsync($"{url}", form);
        }


    }


    async Task UploadFileAsync()
    {

        string url = "http://demo.tocoma.co";
        foreach (var file in selectedItemImage)
        {

            var root = "\\demo.tocoma.co";
            var folder = @"\webroot\Content\images\aboutus";

            string path = Path.Combine(root, folder, file.Name);


            await using FileStream fs = new(path, FileMode.Create); //This line throws the error
            await file.OpenReadStream(maxFileSize).CopyToAsync(fs);



            //var path2 = $"{url}\\webroot\\Content\\images\\aboutus\\{code + "_" + file.Name}";
            var path2 = $"{url}/webroot/Content/images/aboutus/{code + "_" + file.Name}";
            await using FileStream fs1 = new(path2, FileMode.Create);
            await file.OpenReadStream(maxFileSize).CopyToAsync(fs1);
            // await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
            fs1.Close();
        }




        var content = new MultipartFormDataContent();

        content.Headers.ContentDisposition = new System.Net.Http.Headers.ContentDispositionHeaderValue("form-data");
        content.Add(new StreamContent(fileStream, (int)fileStream.Length), "image", fileName);
        //var response = await Http.PostAsync($"{url}/Partners/SaveImage", content);
        var response = await Http.PostAsync($"{url}/webroot/Content/images/aboutus", content);
    }
    //private async Task GetProductUnicImageId()
    //{
    //    var code = await Http.GetJsonAsync<UnicCodeModel>(Utility.BaseUrl + "api/ProductInfo/GetProductInfoImageUnicId");
    //    ProductInfo_Image_Code = Convert.ToInt64(code.Product_ImageUnicCode);
    //}
    private void CancelTds(string file)
    {
        int index = itemTDS.IndexOf(file);
        itemTDS.RemoveAt(index);
    }
    private void CancelSds(string file)
    {
        int index = itemSDS.IndexOf(file);
        itemSDS.RemoveAt(index);
    }
    private void CancelFlayer(string file)
    {
        int index = itemFlyer.IndexOf(file);
        itemFlyer.RemoveAt(index);
    }
    private bool IsValidation()
    {
        bool flag = false;
        if (aboutTocoma.BANNER_TITLE == "" || aboutTocoma.BANNER_TITLE == string.Empty || aboutTocoma.BANNER_TITLE == null)
        {
            toastService.ShowWarning("Banner Title cannot be empty!");
            flag = true;
        }

        return flag;
    }
    private void ClearData()
    {
        //item.DESCRIPTION = "";
        aboutTocoma.BANNER_TITLE = "";
    }
    private async Task RelatedApplicationClicked(ChangeEventArgs change)
    {
        relatedApp = new ItemApplicationAreaModel();
        relatedApp.APPLICATION_AREA = change.Value.ToString().Trim();
        relatedApp.APPLICATION_AREA_ID = itemApplicationList.Find(x => x.APPLICATION_AREA == change.Value.ToString().Trim()).APPLICATION_AREA_ID;

        SelectedRelatedApplicationList.Add(relatedApp);

    }
    private async Task Related_Item_Clicked(ChangeEventArgs change)
    {
        relatedItem = new ItemEntity();
        relatedItem.ITEM_NAME = change.Value.ToString();
        relatedItem.ITEM_ID = productList.Find(x => x.ITEM_NAME.ToString().Trim() == change.Value.ToString().Trim()).ITEM_ID;


        relatedItemList.Add(relatedItem);

    }
    public async void DeleteRelatedItem(string item)
    {
        var itemToRemove = relatedItemList.Single(r => r.ITEM_NAME == item);
        relatedItemList.Remove(itemToRemove);

        StateHasChanged();
    }

    private async void SelectItemTDS(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();
        this.StateHasChanged();
        foreach (var file in selectedFiles)
        {
            //Stream stream = file.OpenReadStream();
            var path = $"{env.WebRootPath}\\images\\File\\TDS\\{file.Name}";
            //FileStream fs = File.Create(path);
            //await stream.CopyToAsync(fs);
            //stream.Close();
            //fs.Close();
            itemTDS.Add(file.Name);
            //itemTDS.Add(path);
            selectedTDS = selectedFiles;
            selectedFiles = null;
        }
        this.StateHasChanged();
    }
    private async void SelectItemSDS(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();
        this.StateHasChanged();
        foreach (var file in selectedFiles)
        {
            //Stream stream = file.OpenReadStream();
            //var path = $"{env.WebRootPath}\\images\\File\\SDS\\{file.Name}";
            //FileStream fs = File.Create(path);
            //await stream.CopyToAsync(fs);
            //stream.Close();
            //fs.Close();
            itemSDS.Add(file.Name);
            selectedSDS = selectedFiles;
            selectedFiles = null;
        }
        this.StateHasChanged();
    }
    private async void SelectItemFlyer(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();
        this.StateHasChanged();
        foreach (var file in selectedFiles)
        {
            //Stream stream = file.OpenReadStream();
            //var path = $"{env.WebRootPath}\\images\\File\\FLAYER\\{file.Name}";

            //FileStream fs = File.Create(path);
            //await stream.CopyToAsync(fs);
            //stream.Close();
            //fs.Close();
            itemFlyer.Add(file.Name);
            selectedFlayer = selectedFiles;
            selectedFiles = null;
        }
        this.StateHasChanged();
    }

    private async void SelectItemCertification(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();
        this.StateHasChanged();
        foreach (var file in selectedFiles)
        {
            itemCertificate.Add(file.Name);
            selectedCertificate = selectedFiles;
            selectedFiles = null;
        }
        this.StateHasChanged();
    }
    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        //selectedFiles = e.GetMultipleFiles();
        isLoading = true;
        loadedFiles.Clear();
        foreach (var file in e.GetMultipleFiles())
        {
            try
            {
                loadedFiles.Add(file);
                selectedFiles = e.GetMultipleFiles();

                var trustedFileNameForFileStorage = Path.GetRandomFileName();

                //var path = Path.Combine(env.ContentRootPath,env.EnvironmentName);

                var path = Path.Combine(env.ContentRootPath + "\\wwwroot\\images\\File\\TDS", file.Name);

                //var path = $"{env.WebRootPath}\\File\\TDS\\{file.Name}";
                //var path = @"C:\Users\Administrator\Downloads\"+file.Name;
                await using FileStream fs = new(path, FileMode.Create);
                await file.OpenReadStream(maxFileSize).CopyToAsync(fs);

                itemTDS.Add(file.Name);
                selectedTDS = selectedFiles;
                selectedFiles = null;
            }
            catch (Exception ex)
            {
                //Logger.LogError("File: {Filename} Error: {Error}",
                //    file.Name, ex.Message);
            }
        }

        isLoading = false;
    }

}
